In [36]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [37]:
# File to Load (Remember to Change These)

file_to_load = 'Resources/purchase_data.csv'
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [38]:
player_dems = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_dems = player_dems.drop_duplicates()

num_players = player_dems.count()[0]
pd.DataFrame({"Total Players":[num_players]})

   Total Players
0            576

In [41]:
#Calcualtions for find information needed
average_purchase = purchase_data_df["Price"].mean()
total_purchase_val = purchase_data_df["Price"].sum()                  
total_purchase = purchase_data_df["Price"].count()
item_count = len(purchase_data_df['Item ID'].unique())

#DataFrame to hold potential values
summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                             "Total Revenue": [total_purchase_val],
                             "Number of Purchases": [total_purchase],
                             "Average Price": [average_purchase]})

summary_table = summary_table.round()
summary_table["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table["Number of Purchases"] = summary_table["Number of Purchases"].map("${:,.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

#call function to diisplay the table
summary_table

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.00             $780.00     $2,380.00

Gender Demographics

In [48]:
#Percentage bases off gender calculations
gender_totals = player_dems["Gender"].value_counts()
gender_percents =  gender_totals / num_players *100
gender_dems = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percents})

gender_dems = gender_dems.round()

gender_dems

                       Total Count  Percentage of Players
Male                           484                   84.0
Female                          81                   14.0
Other / Non-Disclosed           11                    2.0

Purchasing Analysis(Gender based)

In [56]:
# run the not so basic calculations 
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_total = gender_purchase_totals / gender_dems["Total Count"]

#convert to DataFrame
gender_data = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Price": gender_average, 
                            "Total Purchase Value": gender_purchase_total,
                            "Normalized Totals": normalized_total})

gender_data["Average Price"] = gender_data["Average Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Gender Table
gender_data

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [14]:
# Establish bins for ages
bin = [0, 9.90, 14.90, 19.90, 24.90, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_df['Total Count'] = pd.cut(purchase_data_df['Age'],
                                     bin, labels=group_names)
age_groups = purchase_data_df.groupby('Total Count')
age_groups_df = age_groups.count()

#organized_age_df = age_groups_df[['Age']]
#organized_age_df

#percent_age_group = (organized_age_df / player_ct) * 100
#percent_age_group

NameError: name 'purchase_data_df' is not defined